@media(min-width: 576px){
#bargraph-svg{
    height: 400px;
    width: 520px;
}}
@media(min-width: 768px){
#bargraph-svg{
    height: 700px;
    width: 720px;
}}
@media(min-width: 992px){
#bargraph-svg{
    height: 900px;
    width: 920px;
}}
@media(min-width: 1200px){
#bargraph-svg{
    height: 800px;
    width: 1120px;
}}

#nav-container{
  padding-top: 5px;
  padding-bottom: 5px;
}

#github-icon{
  vertical-align: bottom
}

#chartContainer {
  height: 600px;
  margin-top: 10px;
}

#table-row{
  padding-bottom: 5%;
}

#mail{
  display: none
}