{% extends 'base.html' %}

{% block header_style %}
{{ super() }}
<style>
    td {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
</style>
{% endblock %}

<!-- Block content -->
{% block content %}
{{ super() }}
<div class="container text-center" role="main">
    <div class="btn-group my-3" id="map_id">
        <button class="btn btn-outline-dark active" mapid="8-1">8-1</button>
        <button class="btn btn-outline-dark" mapid="6-1">6-1</button>
    </div>

    <div id="allow-equip">
        <div class="btn-group my-2" id="allowed-depth-charges" style="display:inherit">
            <button class="btn" disabled>深弹</button>
        </div>
        <div class="btn-group my-2" id="allowed-sonars" style="display:inherit">
            <button class="btn" disabled>声纳</button>
        </div>
    </div>

    <div class="row" id="antisub-result">
        <table class="table table-striped col-sm-12 col-md-6" id="normal-table">
            <thead class="thread-dark">
                <tr>
                    <th colspan="3">中破修</th>
                </tr>
                <tr>
                    <th scope="col"> 反潜值 </th>
                    <th scope="col"> 推荐深弹 </th>
                    <th scope="col"> 推荐声纳 </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <table class="table table-striped col-sm-12 col-md-6" id="broken-table">
            <thead class="thread-dark">
                <tr>
                    <th colspan="3">大破修</th>
                </tr>
                <tr>
                    <th scope="col"> 反潜值 </th>
                    <th scope="col"> 推荐深弹 </th>
                    <th scope="col"> 推荐声纳 </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>
{% endblock %}

{% block body_scripts %}
{{super()}}
<script src="static/js/anti_sub.js"></script>
{% endblock%}