{% extends 'base.html' %}

{% block header_style %}
{{ super() }}
<link rel="stylesheet" href="css/bargraph.css">
{% endblock %}

<!-- Block content -->
{% block content %}
{{ super() }}
<center>
    <svg id="bargraph-svg" width="1260" height="800"></svg>
</center>
{% endblock %}

<!-- Footer -->
{% block footer %}
<hr>
<footer class="page-footer font-small">
    <div class="container">
        <div>
            Visualization Framework By <a
                href="//github.com/Jannchie/Historical-ranking-data-visualization-based-on-d3.js">Jannchie</a>
        </div>
    </div>
</footer>
{% endblock %}

{% block body_scripts %}
{{super()}}
<script src="js/bargraph/draw.js"></script>
<script src="js/bargraph/min_power.js"></script>
<script src="//d3js.org/d3.v5.min.js"></script>
{% endblock%}