<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container" id="nav-container">
        <a class="navbar-brand" href="#">
            <strong>幺明寺</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-items"
            aria-controls="nav-items" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav-items">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                {%- for page in pages %}
                {% if page['name'] == curpage['name'] -%}
                <li class="nav-item active">
                    <a class="nav-link" href="#"> {{page['nav_name']}} </a>
                </li>
                {%- else -%}
                <li class="nav-item">
                    <a class="nav-link" href="{{ page['filename'] }}"> {{page['nav_name']}} </a>
                </li>
                {%- endif -%}
                {% endfor %}
            </ul>

            <a class="navbar-brand" id="github-icon" href="//github.com/zjsnr/zjsnr.github.io">
                <img src="images/blacktocat.png"> GitHub
            </a>
        </div>
    </div>
</nav>