{% extends 'base.html' %}

{% block header_style %}
{{ super() }}
<link rel="stylesheet" href="static/css/bootstrap-table.min.css">
{% endblock %}

<!-- Block content -->
{% block content %}
{{ super() }}
<div class="container" role="main">
    <div class="row justify-content-center mt-4" style="color: rgb(230, 47, 34);">
        由于懒+弃坑已久，数据从 2021 年 3 月 13 日起停止更新。
    </div>
    <!-- 表格部分 -->
    <div class="row mt-4" id="table-row">
        <div class="col">
            <div class="align-items-end">
                <button type="button" class="btn btn-primary m-2" id="mail">发送举报邮件</button>
            </div>
            <table id="table"></table>
        </div>
    </div>
</div>
{% endblock %}

{% block body_scripts %}
{{super()}}
<script src="static/js/bootstrap-table.min.js"></script>
<script src="static/js/ranking.js"></script>
{% endblock%}